In [50]:
def imp():
  '''Importación de librerías necesarias'''
import  pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Image
from sklearn import tree
import pydotplus
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
print(imp.__doc__)

Importación de librerías necesarias

In [29]:
def dat():
  '''Importación de dataset y muestra de los 5 primeros datos'''
dataset = pd.read_csv('diabetes_data_upload.csv')
print(dat.__doc__)
dataset.head(5)

Importación de dataset y muestra de los 5 primeros datos

,Age,Gender,Polyuria,Polydipsia,sudden weight loss,weakness,Polyphagia,Genital thrush,visual blurring,Itching,Irritability,delayed healing,partial paresis,muscle stiffness,Alopecia,Obesity,class
0,40,Male,No,Yes,No,Yes,No,No,No,Yes,No,Yes,No,Yes,Yes,Yes,Positive
1,58,Male,No,No,No,Yes,No,No,Yes,No,No,No,Yes,No,Yes,No,Positive
2,41,Male,Yes,No,No,Yes,Yes,No,No,Yes,No,Yes,No,Yes,Yes,No,Positive
3,45,Male,No,No,Yes,Yes,Yes,Yes,No,Yes,No,Yes,No,No,No,No,Positive
4,60,Male,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Positive

In [34]:
def col():
  '''Se definen las columnas del dataset para poder usarlas de manera directa'''
dataset.columns = ['Age', 'Gender','polyuria', 'Polydipsia', 'sudden', 'weakness', 'Polyphagia', 'Genital', 'visual', 
                 'Itching', 'Irritability', 'delayed', 'partial', 'muscle', 'Alopecia', 'Obesity', 'clase']
print(col.__doc__)
dataset.columns

Se definen las columnas del dataset para poder usarlas de manera directa

Index(['Age', 'Gender', 'polyuria', 'Polydipsia', 'sudden', 'weakness',
       'Polyphagia', 'Genital', 'visual', 'Itching', 'Irritability', 'delayed',
       'partial', 'muscle', 'Alopecia', 'Obesity', 'clase'],
      dtype='object')

In [35]:
def encod():
  '''Se codifica los datos a datos numéricos para que sean procesables'''
le = LabelEncoder()
dataset.Gender = le.fit_transform(dataset.Gender)
dataset.polyuria = le.fit_transform(dataset.polyuria)
dataset.Polydipsia = le.fit_transform(dataset.Polydipsia)
dataset.sudden = le.fit_transform(dataset.sudden)
dataset.weakness = le.fit_transform(dataset.weakness)
dataset.Polyphagia = le.fit_transform(dataset.Polyphagia)
dataset.Genital = le.fit_transform(dataset.Genital)
dataset.visual = le.fit_transform(dataset.visual)
dataset.Itching = le.fit_transform(dataset.Itching)
dataset.Irritability = le.fit_transform(dataset.Irritability)
dataset.delayed = le.fit_transform(dataset.delayed)
dataset.partial = le.fit_transform(dataset.partial)
dataset.muscle = le.fit_transform(dataset.muscle)
dataset.Alopecia = le.fit_transform(dataset.Alopecia)
dataset.Obesity = le.fit_transform(dataset.Obesity)
dataset.clase = le.fit_transform(dataset.clase)
print(encod.__doc__)
dataset

Se codifica los datos a datos numéricos para que sean procesables

,Age,Gender,polyuria,Polydipsia,sudden,weakness,Polyphagia,Genital,visual,Itching,Irritability,delayed,partial,muscle,Alopecia,Obesity,clase
0,40,1,0,1,0,1,0,0,0,1,0,1,0,1,1,1,1
1,58,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0,1
2,41,1,1,0,0,1,1,0,0,1,0,1,0,1,1,0,1
3,45,1,0,0,1,1,1,1,0,1,0,1,0,0,0,0,1
4,60,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,39,0,1,1,1,0,1,0,0,1,0,1,1,0,0,0,1
516,48,0,1,1,1,1,1,0,0,1,1,1,1,0,0,0,1
517,58,0,1,1,1,1,1,0,1,0,0,0,1,1,0,1,1
518,32,0,0,0,0,1,0,0,1,1,0,1,0,0,1,0,0
519,42,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [39]:
def var():
  '''Se definen las variables, esto tomando valores definidos del dataset'''
X = dataset.iloc[:,0:16].values
y = dataset.iloc[:, 16].values
print (var.__doc__)

Se definen las variables, esto tomando valores definidos del dataset

In [42]:
def defn():
  '''Se definen los porcentajes de trabajo para el conjunto de datos'''
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)
print(defn.__doc__)

Se definen los porcentajes de trabajo para el conjunto de datos

In [46]:
def ent():
  '''Entrenamiento del arbol usando criterios'''
classifier = DecisionTreeClassifier(criterion = 'entropy', max_depth = 4, random_state = 0)
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)
print(ent.__doc__)

Entrenamiento del arbol usando criterios

In [49]:
def mues():
  '''Se realiza una muestra de la predicción y el actual'''
print(y_test)
print(y_pred)
print(mues.__doc__)

[1 1 1 0 0 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 1 1
 0 1 1 1 0 1 0 0 1 1 0 1 0 1 0 1 0 1 1 1 1 1 1 0 0 1 0 1 0 1 0 1 1 0 0 1 1
 0 1 0 1 1 0 1 1 0 0 1 0 1 1 0 0 0 0 0 0 0 1 1 1 1 0 0 1 1 1 0 0 1 0 1 0 0
 0 1 0 1 1 0 1 0 0 0 1 1 0 1 1 0 0 0 0 1 0 1 1 1 1 1 1 1 1 1 1 0 1 0 0 1 1
 1 0 1 1 1 1 0 1]
[0 1 1 0 0 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 1 1
 0 1 1 0 0 1 0 0 1 1 0 1 0 1 0 1 0 1 0 1 0 1 1 0 0 1 0 1 0 1 0 1 1 0 0 1 1
 0 1 0 1 1 0 1 1 0 0 1 0 1 1 0 0 0 0 0 0 0 1 1 1 1 0 0 1 1 1 0 0 1 0 1 0 1
 0 1 0 1 0 0 1 1 0 0 1 1 0 1 1 0 0 0 0 1 0 0 1 1 1 1 0 1 1 1 1 0 1 0 0 1 1
 1 0 1 1 1 0 1 1]
Se realiza una muestra de la predicción y el actual

In [53]:
def metr():
  '''Cálculo del acurracy correspondientes al árbol'''
print("Accuracy: ", metrics.accuracy_score(y_test, y_pred))
print(metr.__doc__)

Accuracy:  0.9294871794871795
Cálculo del acurracy correspondientes al árbol